#main_title {
  text-align: center;
  font-size: 49px;
  text-shadow: 0 0 4px white;
  color: white;
  #padding: 1.5em;
}

#ptitle {
  width: auto;
}

#body {
  background-color: #DFE5FF;
  #position:absolute;
  #min-height: 100%;
  padding: 0 0 100px;
  position: relative;
}

.input-group {
  //padding-left: 4em;
  //padding-right: 4em;
  //font-size: 4em;

}

/*//Make urltextfield text resize with window and increase button text size*/

#only_form {
  height: 2em;
  font-size: 2em;

}

#h_fill{

	height: 4em;

}

#m_fill{

	height: 2em;

}

#tut {
	font-family: 'Montserrat', sans-serif;
}

.h3 {
	margin-left: -13px;
  margin-top: 10px;
}
#works_text{
  padding-left: 16px;
}
#only_button {
  height: 4em;
  clear: right;
  //font-size: 1em;
}

#footer {

	  border-top: thick solid #7A737F;
    position: fixed;
    bottom: 0px;
    width: 100%;
    #height: 70px;
    #background-color: #9A97CC;
}


#fcontainer {


}

#f_fill{

	height: 0em;

}

#f_row {
	display: flex;
	align-items: center;
  float: right;
  margin-right: 2em;
  margin-bottom: -6px;

}

#li2 {
	list-style: none;
	font-family: 'Montserrat', sans-serif;

}

footer ul {
  list-style: none;
  #text-align: right;
  width: 32px;
  height: 32px;
  border-left: thick solid aliceblue;
}

#pf {
  text-align: right;
  padding: 1.25em;
  font-family: 'Montserrat', sans-serif;
}
