{% extends "base_generic.html" %}

{% block content %}
<div class='container' id='h_fill'></div>
<section class='container' id='ptitle'>
	<div class='container'>
    <div class='row'>
		<div class='col-lg-12'>
			<h1 id='main_title'>Professor Insight</h1>
		</div>
	</div>
	</section>
<div class='container' id='h_fill'></div>
<section class='container' id='ptitle'>
	<div class='container'>
    <div class='row'>
		<div class='col-lg-12'>
			<h1 id='main_title'>Professor Insight</h1>
		</div>
	</div>
	</section>
  <div class='container' id='h_fill'></div>
  
  
<div id='chart_div_outer' class='container'>
	<div id="chart_div"></div>
</div>
  
  <div class='container' id='m_fill'></div>
<section class='container'>
	<div class="container">
		<!-- <h3>Descriptors Found:</h3> -->
        <p id='works_text'></p>
    </div>
</section>
<div class='container' id='f_fill'></div>
{% endblock %}

<script>
//Add onlick behavior to analyze button. Write script to pass the url to the next page and run my python stuff to generate the wordcloud. Second page should accept the URL and then run python, and then display the image.

</script>
