<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'stylesheet.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans" rel="stylesheet"/>
</head>

<body>
  <div class='container' id='h_fill'></div>

  <section class='container' id='ptitle'>
  </section>

  <div class='container' id='h_fill'></div>

  <section class='container'>
  </section>

  <div class='container' id='m_fill'></div>

  <section class='container'>
  </section>



  <div class='container' id='f_fill'></div>

  <footer class='container' id='footer'>
    <div class ='row' id='f_row'>
		  <p class='col-sm-10' id='pf'>Created by Tar&#233; Gaskin </p>
		  <ul class='col-sm-2'>
		    <li><a href='https://github.com/CodeApprenticeRai'><img src="{% static 'gh-32.png' %}"></a></li>
		  </ul>
	  </div>
  </footer>

</body>


</html>

<script>
//Add onlick behavior to analyze button. Write script to pass the url to the next page and run my python stuff to generate the wordcloud. Second page should accept the URL and then run python, and then display the image.
</script>
